src/main/mule/implementation/system-api-publish.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd">
	<amqp:config name="AMQP_Config" doc:name="AMQP Config" doc:id="60e81452-2dee-4c23-ba8d-a4ba2089ce4d" >
		<amqp:connection host="localhost" username="guest" password="guest" />
	</amqp:config>
	<flow name="system-apiFlow" doc:id="73d17c47-0124-485b-98ff-fd6c59c578a2" >
		<logger level="INFO" doc:name="Start Log" doc:id="e5e0996c-8a5a-460c-8c54-292fbddb1d96" message='#["Start Log"]'/>
		<logger level="INFO" doc:name="Logger" doc:id="9bb4af81-9349-4d48-8cbb-d0aec3c5b79c" message="#[payload]"/>
		<set-variable value="#[payload]" doc:name="request body" doc:id="f15e43c2-ea4a-4297-99dd-fee5283654b7" variableName="requestBody" />
		<amqp:publish doc:name="Publish" doc:id="49d25e1a-ab21-4f83-9b9a-6219728782e5" config-ref="AMQP_Config" exchangeName="direct1.exchange.demo">
			<amqp:routing-keys >
				<amqp:routing-key value="1" />
			</amqp:routing-keys>
		</amqp:publish>
		<ee:transform doc:name="Transform Message" doc:id="0399bd8e-c132-4dc7-b3d6-b3e2534e9ef9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "request has been added to pending list"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Finish Log" doc:id="0fb25e62-a647-4e21-9353-1e2d86e649c7" message='#["Finish Log"]' />
	</flow>
</mule>
