src/main/mule/implementation/system-api-consume.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="system-api-consumeFlow" doc:id="6b843c98-73b5-4a31-891c-5592e70cc532" >
		<amqp:consume doc:name="Consume" doc:id="b6406438-9a79-4b07-a284-e6e3167b6a7c" config-ref="AMQP_Config" queueName="elevator.demo.queue" />
		<logger level="INFO" doc:name="Logger" doc:id="7c08e589-6350-44e5-9492-7d34c51d29fd" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="137c7129-bb8b-4d98-b5e1-3fef1c20d03c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
